{% extends 'base.html' %}
{% load static %}
{% block cta %}
<div class="container hero">
    <div class="row">
        <div class="col-11 col-lg-4 col-xl-4 offset-xl-1">
            <h1>Appointment Scheduling Software</h1>
            <p> Appointment Scheduling App for Clinics,
                Hospitals and Doctors. </p>
            <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
        </div>

    </div>
</div>

{% endblock cta %}

{% block content %}
<section class="container py-5"  style="margin-block:200px;" id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Departments</h1>
            <p class="lead">Our Team.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team1.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr.Sthuthi</h5>
                    <span class="small text-uppercase text-muted">General physician</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team2.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr.Sujay</h5>
                    <span class="small text-uppercase text-muted">Cardiologist</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team3.jpg' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr.Deepthi</h5>
                    <span class="small text-uppercase text-muted">Dermatologist</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team4.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr.Padma</h5>
                    <span class="small text-uppercase text-muted">Surgeon</span>
                </div>
            </div><!-- End -->
        </div>
    </div>
</section><!-- End -->



<section id="services">
    <div class="bg-primary text-center py-5 mb-4">
        <div class="container">
            <h1 class="fw-light text-white">Services</h1>
            <p class="overview">We provide compassionate and expert care to our community. You are at the center of everything we do. Let us be your healthcare partner.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/service1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Primary Care</h5>
                        <div class="card-text text-black-50">Your personalized medical professionals.</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/service2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Dermatology</h5>
                        <div class="card-text text-black-50">Your skin care made easy.</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/service3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Neurology</h5>
                        <div class="card-text text-black-50">Concerned with the nervous system.</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="{% static 'img/service4.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Cancer Therapy</h5>
                        <div class="card-text text-black-50">We provide the best and advanced treatment</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
</section>

<section class="text-center conatiner" style="margin-block:200px;" id="reviews">
    <h2>Satisfied Patients</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="img-box"><img src="{% static 'img/patient1.jpg' %}" alt=""></div>
                <p class="testimonial">I am happy about the service during this pandemic era.</p>
                <p class="overview">Sri</p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static 'img/patient2.jpg' %}" alt=""></div>
                <p class="testimonial">Write something nice.</p>
                <p class="overview">Raghavendra</p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static 'img/patient3.jpg' %}" alt=""></div>
                <p class="testimonial">Write something nice.</p>
                <p class="overview">Swamy</p>

            </div>
        </div>

    </div>

</section>


<section id="contact" class="card m-4 p-4">
    <div class="container">
        <div class="row text-center">

            <div class="col-sm-6">
                <div class="contact-detail-box">
                    <i class="far fa-envelope text-colored fa-3x"></i>
                    <h4>Contact Us</h4>
                    <abbr title="Phone">Ph:</abbr> 123456789<br>
                    Email: <a href="mailto:email@email.com" class="text-muted">mailon@email.com</a>
                </div>
            </div><!-- end col -->

            <div class="col-sm-6">
                <div class="contact-detail-box">
                    <i class="fa fa-map-marker fa-3x text-colored"></i>
                    <h4>Our Location</h4>

                    <address>
                        #1,1Main road<br>
                        Bangalore<br>
                    </address>
                </div>
            </div><!-- end col -->



        </div>
        <!-- end row -->




            <!-- Contact form -->
            <div class="col-sm-6">
                <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name2">Name</label>
                        <input class="form-control" id="name2" name="name" type="text" placeholder="name">
                        <div class="error" id="err-name" style="display: none;">Please enter name</div>
                    </div> <!-- /Form-name -->

                    <div class="form-group">
                        <label for="email2">Email</label>
                        <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                        <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div>
                    </div> <!-- /Form-email -->

                    <div class="form-group">
                        <label for="message2">Message</label>
                        <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message">Message</textarea>

                        <div class="error" id="err-message" style="display: none;">Please enter message</div>
                    </div> <!-- /col -->

                    <div class="row">
                        <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Send</button>
                    </div> <!-- /col -->
            </div> <!-- /row -->

            </form> <!-- /form -->
        </div> <!-- end col -->

    </div> <!-- end row -->

    </div>
</section>


{% endblock content %}